html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 25px;
}

/** ======= NAVBAR ======= */
.navbar-header img {
	position: relative;
	top: -10px;
	height: 40px;
}

#navbar img {
	margin: 5px;
	height: 40px;
}

#project-name {
	font-weight: bold;
}

/** ======= FOOTER ======= */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 25px;
	background-color: #f5f5f5;
	text-align: center;
	border-top: 1px solid #e7e7e7;
	padding: 5px 15px;
	color: #777;
	font-size: 11px;
}

.footer a, .footer a:hover {
	color: #777;
}

.footer a:hover {
	text-decoration: none;
	color: #777;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

/** =======  ======= */
body>.container, body>.container-fluid {
	padding: 60px 15px 0;
}

.container .text-muted {
	margin: 20px 0;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.block {
	margin: 10px;
}

/** =======  ======= */
.current-sprint-block {
	margin: 5px;
	padding: 5px;
	border: 1px solid #777;
	border-radius: 10px;
}

.current-sprint-name, .current-sprint-date-month {
	font-size: x-large;
}

.current-sprint-objective, .current-sprint-date-day {
	font-size: xx-large;
}