/* Global Styles */
body {
	margin-top: 100px;
	background-color: #eee;
}

@media ( min-width :768px) {
	body {
		margin-top: 50px;
	}
}

#wrapper {
	padding-left: 0;
}

#page-wrapper {
	width: 100%;
	padding: 0;
	background-color: #eee;
	color: #333;
}

@media ( min-width :768px) {
	#wrapper {
		padding-left: 70px;
	}
	#page-wrapper {
		padding: 10px;
	}
}

/* Top Navigation */
.top-nav {
	padding: 0 15px;
}

.top-nav>li {
	display: inline-block;
	float: left;
}

.top-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	color: #999;
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover,
	.top-nav>.open>a:focus {
	color: #fff;
	background-color: #1D2023;
}

.top-nav>.open>.dropdown-menu {
	float: left;
	position: absolute;
	margin-top: 0;
	border: 1px solid rgba(0, 0, 0, .15);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav>.open>.dropdown-menu>li>a {
	white-space: normal;
}

ul.admin-dropdown {
	width: 100px;
}

/* Side Navigation */
@media ( min-width :768px) {
	.side-nav {
		position: fixed;
		top: 51px;
		left: 70px;
		width: 70px;
		margin-left: -70px;
		border: none;
		border-radius: 0;
		overflow-y: auto;
		background-color: #eee;
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px;
	}
	.side-nav>li>a {
		width: 70px;
	}
	.side-nav li a:hover, .side-nav li a:focus {
		outline: none;
		background-color: #000 !important;
	}
}

/** ======= NAVBAR ======= */
.navbar-inverse {
	background-color: #1D2023;
	border-color: #000;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #000;
}

.navbar-header img {
	position: relative;
	top: -10px;
	height: 40px;
}

#navbar img {
	margin: 5px;
	height: 40px;
}

#project-name {
	font-weight: bold;
	text-align: center;
	margin: 15px 70px;
	color: #9d9d9d;
}

/** ======= FOOTER ======= */
.footer {
	/* Set the fixed height of the footer here */
	height: 25px;
	background-color: #eee;
	text-align: center;
	border-top: 1px solid #000;
	padding: 5px 15px;
	color: #333;
	font-size: 11px;
}

.footer a, .footer a:hover {
	color: #333;
}

.footer a:hover {
	text-decoration: none;
	color: #333;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

/** =======  ======= */
body>.container, body>.container-fluid {
	padding: 60px 15px 0;
}

.container .text-muted {
	margin: 20px 0;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.block {
	margin: 10px;
}

/** =======  ======= */
.rounded-block {
	margin: 5px;
	padding: 5px;
	border: 1px solid #eee;
	border-radius: 10px;
	background-color: #fff;
}

.font-XL {
	font-size: x-large;
}

.font-XXL {
	font-size: xx-large;
}

/** ======= ======= */
.large {
	font-size: 2em;
}

.text-muted {
	color: #9fadbb;
}

.no-padding {
	padding: 0;
	margin: 0;
}

/*Panels*/
.panel {
	border: 0;
}

.panel-heading {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.025em;
	height: 66px;
	line-height: 45px;
}

.panel-default {
	background: #fff;
}

.panel-default .panel-heading {
	background: #fff;
	border-bottom: 1px solid #000;
	color: #333;
}

.panel-footer {
	background: #fff;
	border-top: 1px solid #000;
}

.panel-widget {
	padding: 0;
	position: relative;
}

.panel-widget .panel-footer {
	border: 0;
	text-align: center;
}

.panel-footer .input-group {
	padding: 0px;
	margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child>.btn, .panel-footer .input-group-btn:last-child>.btn-group
	{
	margin: 0;
}

.panel-widget .panel-footer a {
	color: #999;
}

.panel-widget .panel-footer a:hover {
	color: #666;
	text-decoration: none;
}

.panel-blue {
	background: #655492;
	color: #fff;
}

.panel-blue .panel-body p {
	color: #fff;
	color: rgba(255, 255, 255, .8);
}

.panel-blue .panel-heading {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.panel-blue .text-muted {
	color: rgba(255, 255, 255, .5);
}

.dark-overlay {
	background: rgba(0, 0, 0, .05);
	text-align: center;
}

.widget-left {
	height: 80px;
	padding-top: 15px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.widget-right {
	text-align: left;
	line-height: 1.6em;
	margin: 0px;
	padding: 20px;
	height: 80px;
	color: #999;
	font-weight: 300;
	background: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media ( max-width : 768px) {
	.widget-right {
		width: 100%;
		margin: 0;
		text-align: center;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

@media ( max-width : 768px) {
	.widget-left {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

.widget-right .text-muted {
	color: #FA6B5B;
}

.widget-right .large {
	color: #FA6B5B;
}

.panel-blue .widget-left {
	background: #655492;
	color: #fff;
}

.panel-widget {
	background: #655492;
}

/** ======= tables ======= */
/*Tables*/
.table {
	background: #fff;
}

.fixed-table-container {
	border: 1px solid #eee;
}

.fixed-table-container thead th {
	background: #f7f7f8;
	border-color: #ddd;
	color: #5f6468;
	font-weight: 300;
	font-size: 16px;
}

.fixed-table-container tbody td {
	border: 1px solid #eee;
}

.fixed-table-container tbody td:last-child {
	border-right: none;
}

.table>thead>tr>th {
	border-bottom: 1px solid #e6e7e8;
	vertical-align: middle;
	height: 50px;
}

.fixed-table-pagination .pagination {
	margin-top: 10px;
	margin-bottom: 0px;
}

.fixed-table-pagination .pagination-detail {
	margin-top: 20px;
}